*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    font-size: 0px;
}

header #logo {
    float: left;
}

header .nav ul li {
    margin-left: 25px; 
    text-decoration: none;
    display: inline-block;
}
header {
    height: 185px;
    width: 100%;
    display: block;
    padding: 67px 0px 67px 0px;
}
header .nav {
    float: right;
}
.clear {
    clear: both;
}
.container {
    width: 80%;
    margin: auto;
}
main {
    background-color: #3db39e;
}