*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    word-wrap: break-word;
}

/* header */

header h1 {
    font-size: 0px;
}

header #logo {
    float: left;
}

header .nav ul li {
    margin-left: 25px;
    text-decoration: none;
    display: inline-block;
}

header {
    height: 185px;
    width: 100%;
    display: block;
    padding: 67px 0px 67px 0px;
}

header .nav {
    float: right;
}

.clear {
    clear: both;
}

.container {
    width: 80%;
    margin: auto;
}

/* section 1 */

.green {
    background-color: #3db39e;
    color: #fff;
}

.green .container {
    position: relative;
    min-height: 635px;
}

.landing {
    width: 460px;
    height: 635px;
    display: table-cell;
    vertical-align: middle;
    font-size: 18px;
    line-height: 30px;
}

.landing p {
    padding: 35px 0 0;
    margin-bottom: 40px;
    width:
}

.landing h2 {
    font-size: 55px;
    line-height: 60px;
    font-weight: bold;
    text-transform: uppercase;
}

.green .container img {
    position: absolute;
    bottom: -12px;
    right: 20px;
}

#button {
    display: inline-block;
    height: 52px;
    text-decoration: none;
    padding: 0 30px;
    background: #ffffff;
    text-transform: uppercase;
    border-radius: 5px;
    transition: all 0.15s linear;
    color: #26a6d1;
    line-height: 52px;
    font-weight: bold;
    font-size: 20px;
}

#link {
    color: #ffffff;
    font-size: 20px;
    line-height: 52px;
    font-weight: bold;
    margin: 0 0 0 35px;
    text-transform: uppercase;
}

/* section 2 */

.wite {
    background-color: #fff;
    color: #000;
    text-align: center;
}

.title {
    text-align: center
}

h3 {
    font-size: 30px;
    margin-bottom: 30px;
    color: #324d5b;
}

.title p {
    font-size: 17px;
    margin-bottom: 90px;
    color: #6a6a6a;
    width: 62%;
    margin: auto;
    margin-bottom: 90px;
}

.white {
    margin: 115px 0 60px;
}

.easy {
    float: left;
    width: 33%;
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    padding: 0 25px;
    margin: 0 0 50px;
    box-sizing: border-box;
}

.easy p {
    color: #2b414d;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 0 42px;
}

.easy span {
    font-size: 14px;
    color: #696969;
}

.line {
    background-color: #ccd0d2;
    display: block;
    text-align: center;
    width: 20px;
    height: 2px;
    margin: auto;
    margin-top: -20px;
    margin-bottom: 20px;
}

/* section 3 carousel */

.carousel {
    background: #f6f6f6;
    display: block;
}

h5 {
    font-size: 30px;
    color: #324d5b;
}

.text p {
    margin-top: 40px;
    font-size: 17px;
    color: #6a6a6a;
    line-height: 25px;
}

.carousel .container img {
    float: left;
    margin: 120px 0px 0px 0px;
}

.text {
    float: right;
    margin-top: 200px; 

}

.x {
    position: relative;
    top: 150px;
    right: 358px;
}

.selectors li {
    display: inline;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    float: right;
    background-color: #cbcfd1;
    margin: 0 13px 13px 0;
    transition: 0.7s;
}

.selectors li.active {
    background-color: #3db39e;
}

.box {
    display: none;
}

.visible {
    display: block;
}

/* section 4 */

.discover {
    text-align: center;
    padding: 105px 0 95px;
}

.discover p {
    margin: 40px 60px 15px;
    font-size: 17px;
    color: #6a6a6a;
    width: 63%;
    margin: auto;
}

.discover h4 {
    font-size: 30px;
    color: #324d5b;
}

/*section 5 subscribe */

.subscribe {
    background: #26a6d1;
    text-align: center;
    color: #ffffff;
    padding: 105px 0 115px;
}

.subscribe h6 {
    font-size: 30px;
    line-height: 40px;
    margin-top: -20px;
}

.subscribe p {
    text-align: center;
    margin: 40px 0 -30px;
    width: 45%;
    margin: auto;
    margin-top: 40px;
}

.email {
    border: 0;
    width: 400px;
    height: 50px;
    font-size: 18px;
    line-height: 20px;
    padding: 15px;
    background: #ffffff;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 24px;
}

.email::-webkit-input-placeholder {
    color: #ccd0d2;
    font-size: 18px;
}

.btSubscribe {
    border: 0;
    width: 160px;
    height: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #26a6d1;
    background: #ffffff;
    text-transform: uppercase;
    border-radius: 5px;
    box-sizing: border-box;
}

/* footer */

footer {
    height: 130px;
}

footer .logo img {
    float: left;
    margin-top: 0px;
}

.apple {
    margin: 70px 0 0 350px;


}

.apple img {
    vertical-align: middle;
    margin-right: -110px;
}

.apple a {
    font-size: 14px;
    color: #26a6d1;
    vertical-align: middle;
}

.copy {
    font-size: 14px;
    margin: -25px 0 0 115px;
    vertical-align: middle;
}

.copy a {
    color: #3db39e;
    font-weight: bold;
}

.social {
    float: right;
    margin: -27px 0 0 120px;
}

.social li {
    margin: 0 0 0 25px;
    display: inline-block;
}

/* mobile */

@media (max-width: 479px) {
    body {
        word-wrap: break-word;
        zoom: 80%
    }
    .container {
        overflow: hidden;
        width: 90%;
        margin: auto;
    }
    /* header */
    #logo {
        margin-left: 60px;
    }
    header .nav {
        display: none;
    }
    /* section 1 */
    .green {
        height: 1200px;
        text-align: center;
        margin: auto;
    }
    .green div img {
        position: initial !important;
    }
    .landing p {
        width: 90%;
        margin: auto;
        margin-bottom: 30px;
    }
    /* section 2 */
    .easy {
        width: 80%;
        margin: 0 0 50px 35px;
    }
    .title p {
        width: 110%;
        margin-bottom: 40px;
    }
    .title {
        width: 340px;
        margin: auto;
        margin-left: 10px;
    }
    /* section 3 carousel */
    .text {
        margin: auto;
        margin-top: 200px; 
    }
    .x {
        position: relative;
        top: 150px;
        right: 180px;
    }
    
    /* section 4 */
    .discover p {
        width: 97%;
        margin-top: 30px;
    }
    /* section 5 */
    .email {
        width: 100%;
        margin-bottom: 15px;
        text-align: center;
    }
    .subscribe h6 {
        margin-top: 0;
    }
    .btSubscribe {
        width: 100%;
    }
    .subscribe p {
        margin-bottom: 30px;
        width: 87%;
    }
    .form {
        margin-bottom: 30px
    }
    /* footer */
    footer {
        height: 600px;
    }
    .apple {
       display: inline-block;

    }
    .apple img {
        margin-right: -90px; 
    }
    .logo {
        display: none;
    }
    .apple {
        background: #ffffff;
        margin: 0 0 0 10px;
        padding: 80px;
    }
    .footer480 {
        background-color: #f6f6f6;
        height: 280px;;
    }
    .social {
        float: initial;
        margin: 50px 0 0 55px;
    }
    .copy {
        margin: 100px;
    }

}